@use "../../scss/vars" as *;
@use "../../scss/media" as *;
.contact_cont {
  margin-left: 70px;
  display: flex;
  @include breack_down(large) {
    flex-direction: column;
    align-items: center;
  }
  justify-content: space-between;
  @include breack_down(large) {
    margin-left: 0;
  }
  color: white;
  margin-top: 8vw;
  padding: 0 10rem 0 7rem;
  @include breack_down(large) {
    padding: 0 0 0 3rem;
    margin-top: 8rem;
  }
}
.contact_text {
  max-width: 40vw;
  @include breack_down(large) {
    max-width: 80vw;
    margin-bottom: 5rem;
  }
  h1 {
    position: relative;
    margin-bottom: 5rem;
    &::after {
      position: absolute;
      content: "</H2>";
      color: $green;
      font-family: "La Bella Aurore";
      font-size: 1rem;
      font-weight: 100;
      opacity: 0.6;
      bottom: -2rem;
      left: -3rem;
      @include breack_down(medium) {
        left: -2rem;
      }
    }
    &::before {
      position: absolute;
      content: "<H2>";
      color: $green;
      font-family: "La Bella Aurore";
      font-size: 1rem;
      font-weight: 100;
      opacity: 0.6;
      top: -2rem;
      left: -3rem;
      @include breack_down(medium) {
        left: -2rem;
      }
    }
  }
  p {
    margin: 2rem 0rem;
    cursor: default;
    color: #fff;
    line-height: 18px;
    font-weight: 300;
    font-family: sans-serif;
  }
}
.contact_input {
  width: 100%;
}
ul {
  li {
    list-style: none;
    display: block;
    width: 100%;
    opacity: 0;
    animation: fadeInUp 1s;
    animation-fill-mode: forwards;
    textarea {
      padding: 12px;
      width: 100% !important;
      min-height: 130px;
      font-size: 1rem;
      background: $dark-green;
      color: #fff;
      border: none;
      &:focus {
        outline: 1px solid $green;
      }
    }
    input {
      width: 100%;
      height: 3rem;
      font-size: 1rem;
      background: $dark-green;
      color: #fff;
      border: none;
      margin-bottom: 1rem;
      padding: 7px;
      &:focus {
        outline: 1px solid $green;
      }
      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px rgba(85, 252, 59, 0.674) inset !important;
      }
    }
  }
}
.half_cont {
  display: flex;
  justify-content: space-between;
}
.half {
  width: 49%;
  height: 3rem;
  border: 0;
  margin-bottom: 1rem;
}
.contact_btn {
  display: block;
  margin-top: 1rem;
  border: 1px solid $green;
  padding: 1rem 3rem;
  background-color: transparent;
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.6s ease-in-out;
  @include breack_down(medium) {
    padding: 0.5rem 1.5rem;
  }
  &:hover {
    background: $green;
    color: $dark-green;
    animation: pulse 1s;
  }
}
#Group5 {
  transform-origin: center;
  transform-box: fill-box;
  animation: rotateLetter 2.5s infinite linear;
}
@keyframes rotateLetter {
  0% {
    transform: rotate(25deg);
  }
  25% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(25deg);
  }
}
