@use "../../scss/media" as *;
@use "../../scss/vars" as *;

.work_cont {
  margin-left: 70px;
  justify-content: space-between;
  color: white;
  padding: 0 2rem 0 7rem;
  margin-top: 16rem;
  h1 {
    position: relative;
    margin-bottom: 5rem;
    &::after {
      position: absolute;
      content: "</H2>";
      color: $green;
      font-family: "La Bella Aurore";
      font-size: 1rem;
      font-weight: 100;
      opacity: 0.6;
      bottom: -2rem;
      left: -3rem;
      @include breack_down(medium) {
        left: -2rem;
      }
    }
    &::before {
      position: absolute;
      content: "<H2>";
      color: $green;
      font-family: "La Bella Aurore";
      font-size: 1rem;
      font-weight: 100;
      opacity: 0.6;
      top: -2rem;
      left: -3rem;
      @include breack_down(medium) {
        left: -2rem;
      }
    }
  }
  p {
    margin: 1rem 0rem;
    cursor: default;
    color: #fff;
    line-height: 18px;
    font-weight: 300;
    font-family: sans-serif;
  }
  @include breack_down(large) {
    flex-direction: column;
    align-items: center;
  }
  @include breack_down(large) {
    margin-left: 0;
  }
  @include breack_down(large) {
    padding: 0 0 0 3rem;
    margin-top: 8rem;
  }
}
.work_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  @include breack_down(large) {
    grid-template-columns: 1fr 1fr;
  }
  @include breack_down(medium) {
    grid-template-columns: 1fr;
  }
}
.work_item {
  img {
    width: 20rem;
    height: 12rem;
    transition: 1s;
    @include breack_down(large) {
      width: 20rem;
      height: 12rem;
    }
    @include breack_down(medium) {
      grid-template-columns: 1fr;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
  p {
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      color: $green;
    }
  }
}
.work_animation1 {
  opacity: 0;
  animation: backInLeft 1s 0.5s;
  animation-fill-mode: forwards;
}
.work_animation2 {
  opacity: 0;
  animation: backInLeft 1s 0.7s;
  animation-fill-mode: forwards;
}
.work_animation3 {
  opacity: 0;
  animation: backInLeft 1s 0.9s;
  animation-fill-mode: forwards;
}
.work_animation4 {
  opacity: 0;
  animation: backInLeft 1s 0.9s;
  animation-fill-mode: forwards;
}
.work_animation5 {
  opacity: 0;
  animation: backInLeft 1s 1.1s;
  animation-fill-mode: forwards;
}
.work_animation6 {
  opacity: 0;
  animation: backInLeft 1s 1.3s;
  animation-fill-mode: forwards;
}
