@use "../../scss/vars" as *;
@use "../../scss/media" as *;
.about_cont {
  margin-left: 70px;
  display: flex;
  justify-content: space-between;
  @include breack_down(large) {
    margin-left: 0;
    flex-direction: column;
    align-items: center;
  }
  color: white;
  margin-top: 10vw;
  padding: 0 2rem 0 7rem;
  @include breack_down(large) {
    padding: 0 0 0 3rem;
    margin-top: 8rem;
  }
}
.about_text {
  max-width: 40vw;
  @include breack_down(large) {
    max-width: 80vw;
  }
  h1 {
    position: relative;
    margin-bottom: 3rem;
    &::after {
      position: absolute;
      content: "</H2>";
      color: $green;
      font-family: "La Bella Aurore";
      font-size: 1rem;
      font-weight: 100;
      opacity: 0.6;
      bottom: -2rem;
      left: -3rem;
      @include breack_down(medium) {
        left: -2rem;
      }
    }
    &::before {
      position: absolute;
      content: "<H2>";
      color: $green;
      font-family: "La Bella Aurore";
      font-size: 1rem;
      font-weight: 100;
      opacity: 0.6;
      top: -2rem;
      left: -3rem;
      @include breack_down(medium) {
        left: -2rem;
      }
    }
  }
  p {
    margin: 1rem 0rem;
    cursor: default;
    color: #fff;
    line-height: 18px;
    font-weight: 300;
    font-family: sans-serif;
    span {
      color: $green;
    }
  }
}
.p_cont {
  overflow: hidden;
  > :nth-child(1) {
    opacity: 0;
    animation: backInRight 1s 1s;
    animation-fill-mode: forwards;
  }
  > :nth-child(2) {
    opacity: 0;
    animation: backInLeft 1s 2s;
    animation-fill-mode: forwards;
  }
  > :nth-child(3) {
    opacity: 0;
    animation: backInRight 1s 3s;
    animation-fill-mode: forwards;
  }
}
.about_logo_cont {
  overflow: hidden;
  svg {
    width: 40vw;
    position: relative;
    @include breack_down(large) {
      width: 80vw;
      margin-top: 5rem;
    }
  }
}
.about_out {
  stroke-dasharray: 6000;
  stroke-dashoffset: 6000;
  animation: draw-stroke 3s forwards;
}
#hand {
  animation: hand-animation 2s infinite linear;
  transform-origin: left;
  transform-box: fill-box;
}
#person,
#handM {
  transform: translateY(-70rem);
  animation: transMan 2s 2s ease;
  animation-fill-mode: forwards;
}
#left {
  transform: translateY(-70rem);
  animation: trans 2s ease;
  animation-fill-mode: forwards;
}
#right {
  transform: translateY(-70rem);
  animation: trans 2s 1s ease;
  animation-fill-mode: forwards;
}
@keyframes trans {
  0% {
    transform: translateY(-100rem);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes transMan {
  0% {
    transform: translateY(100rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes hand-animation {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes draw-stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
