@use "var" as *;
@use "mixins" as *;
@use "./global" as *;
@use "header" as *;
@use "hero" as *;
@use "main" as *;
@use "articles" as *;
@use "footer" as *;

.landing_cont {
  background-color: white;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: Public Sans;
  font-size: $font-med;
  color: $GrayishBlue;
  font-weight: 300;
}
